{% extends 'ButenkoBlogBundle::layout.html.twig' %}

{% block container %}
    {#<div class="container">#}

        {%  block title %}
        {% endblock %}

        <div class="row">

            {% block main %}
            {%  endblock %}

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module">
                    <h4>Last articles</h4>
                    <ol class="list-unstyled">
                        {{ render(controller('ButenkoBlogBundle:Default:lastArticles')) }}
                    </ol>
                </div>
                <div class="sidebar-module">
                    <h4>Most viewed articles</h4>
                    <ol class="list-unstyled">
                        {{ render(controller('ButenkoBlogBundle:Default:mostViewedArticles')) }}
                    </ol>
                </div>
                <div class="sidebar-module">
                    <h4>Last posts from GuestBook</h4>
                    <ol class="list-unstyled">
                        {{ render(controller('ButenkoBlogBundle:Default:lastGuestRecords')) }}
                    </ol>
                </div>
            </div><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    {#</div><!-- /.container -->#}
{% endblock %}