{% for article in articles %}
    <li>
        <a href="{{ path('butenko_blog_show_article', {'slug': article.getSlug()} ) }}">
            {{ article.getTitle() }}
        </a>
    </li>
{% endfor %}

